html,
body {
    height: 100%;
    font-size: 1rem;
}

.gradient {
    background: rgb(0,0,0);
    background: linear-gradient(
        90deg, rgba(0,0,0,1) 0%, 
        rgba(121,9,118,1) 35%, 
        rgba(0,212,78,1) 100%
    );
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:blanchedalmond;
}

.page-info {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:blanchedalmond;
}

.page-project {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:blanchedalmond;
}

.infoContent {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:black;
    background-color: #5e7280;
    border: 2px solid #cbe7f2;
    text-align: center;
    padding: 2rem;
}