html,
body {
    height: 100%;
    font-size: 1rem;
    background-color: #1c1b1a;
    font-family: 'Roboto Mono', monospace;
    color:#c2bbae;
}

.forNav {
    color:#c2bbae;
    background: #1c1b1a;
    padding: 1.1rem;
}

.bd-footer {
    background: #1c1b1a;
}

.projectIntro {
    padding: 2rem;
    /*background: #8c6d89;*/
    /*background: #405259;*/
    /*background: #444f45;*/
    /*background: #564c5e;*/
    background: #3c3342;
}

.gradient {
    background: rgb(5,92,67);
    background: linear-gradient(90deg, 
    rgba(5,92,67,1) 0%, 
    rgba(121,9,118,1) 33%, 
    rgba(29,30,42,1) 100%);
}

.page-header {
    margin-top: 4.9rem;
    font-size: 1.25rem;
}

.page-info {
    margin-top: 4.9rem;
    font-size: 1.25rem;
}

.page-project {
    margin-top: 4.9rem;
    font-size: 1.25rem;
}

.infoContent {
    margin-top: 8rem;
    font-size: 1.25rem;
    text-align: center;
    padding: 8rem;
    background: rgb(103,71,112);
    background: radial-gradient(circle, 
    rgba(103,71,112,1) 0%, 
    rgba(95,115,84,1) 30%, 
    rgba(74,86,114,1) 100%); 
}

.projectMechanic {
    margin-top: 4rem;
    font-size: 1.25rem;
    text-align: center;
    padding: 4rem;
    background: #3c3342;
}

.dropdown-item {
    color: #c2bbae;
}

.nav-link {
    color: #c2bbae;
}

.dropdown {
    color: #1c1b1a;
}