{% extends 'info.html' %}

{% block head %}
<title>ABOUT</title>
{% endblock %}

{% block info_body_content %}
<div class="row align-items-center justify-content-center">
    <div class="col-md-6">
        <p class="lead">
            digital:
        </p>
        <p>
            recording or storing information as a series of the numbers 1 and 0, to show that a signal is present or
            absent.
        </p>
        <br>
        <p class="lead">
            manipulation:
        </p>
        <p>
            the action of manipulating something in a skilful manner.
        </p>
        <br>
        <p class="lead">
            technique:
        </p>
        <p>
            a way of carrying out a particular task, especially the execution or performance of an artistic work or a
            scientific procedure.
        </p>
        <br>
    </div>
</div>
<div class="row align-items-center justify-content-center">
    <div class="col-md-6">
        <img src="static/art/gifs/selfie.GIF" class="img-fluid">
    </div>
</div>
{% endblock %}