{% extends 'info.html' %}

{% block head %}
<title>ABOUT</title>
{% endblock %}

{% block info_body_content %}
<div class="row">
    <div class="col">
        <p class="lead">
            digital: 
        </p>
        <p>
            recording or storing information as a series of the numbers 1 and 0, to show that a signal is present or absent.
        </p>
        <br>
        <p class="lead">
            manipulation: 
        </p>
        <p>
            the action of manipulating something in a skilful manner.
        </p>
        <br>
        <p class="lead">
            technique: 
        </p>
        <p>
            a way of carrying out a particular task, especially the execution or performance of an artistic work or a scientific procedure.
        </p>
        <br>
    </div>
    <div class="col">
        <img src="static/art/gifs/selfie.GIF" width="400" height="300">
    </div>
</div>
{% endblock %}