{% extends 'project.html' %}

{% block project_title %}
A CYBER PUNKS TRIP
{% endblock %}

{% block project_info %}
an action packed trip through time and space
{% endblock %}

{% block mechanic_title %}
<h1>BRAIN MACHINE</h1>
{% endblock %}
{% block mechanic_info %}
<p>the stack driven state machine driving all enemy behavior</p>
{% endblock %}
{% block mechanic_code %}
<p>CODE</p>
{% endblock %}

{% block mechanic2_title %}
<h1>BULLET HELL SYSTEM</h1>
{% endblock %}
{% block mechanic2_info %}
<p>the system for all bullet hell juciyness</p>
{% endblock %}
{% block mechanic2_code %}
<p>CODE</p>
{% endblock %}

{% block mechanic3 %}
{% endblock %}

{% block mechanic4 %}
{% endblock %}

{% block mechanic5 %}
{% endblock %}