{% extends 'base.html' %}

{% block body_header %}
<header class="page-header gradient">
    <div class="container pt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5">
                <h1>GREETINGS, PSYCHONAUT</h1>
                <p>and welcome to [D]IGITAL [M]ANIPULATION [T]ECHNIQUE STUDIO.
                    This is a website where I showcase all my tech related work.
                    Please explore!
                </p>

                <a href="/cyberpunktrip" button type="button" class="btn btn-outline-dark btn-lg" style="margin-right: 12px;">My latest project</button>
                <a href="/resume" button type="button" class="btn btn-outline-dark btn-lg">Check out my resume</button></a>
            </div>
            <div class="col-md-5">
                <img style="margin-top: 40px; margin-left: 25px;" src="static/art/img/smallerPrintFromGame.png">
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 1440 320">
    <path fill="#1c1b1a" 
    fill-opacity="1" 
    d="M0,160L48,160C96,160,192,160,288,144C384,128,480,96,576,80C672,64,768,64,864,74.7C960,85,1056,107,1152,106.7C1248,107,1344,85,1392,74.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path></svg>
</header>
{% endblock %}