{% extends 'base.html' %}

{% block body_header %}
<header class="page-header gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to my game portfolio</h1>
                    <p>text about my portfolio..</p>
            </div>
            <div class="col-md-6">
                <img src="static/art/img/smallerPrintFromGame.png" width="555" height="444">
            </div>
        </div>
    </div>
</header>
{% endblock %}