{% extends 'project.html' %}

{% block project_title %}
    GAME PORTFOLIO
{% endblock %}

{% block project_info %}
    a website showcasing my projects
{% endblock %}

{% block mechanic_title %}
<h1>FLASK</h1>
{% endblock %}
{% block mechanic_info %}
<p>the micro web framework behind the scenes</p>
{% endblock %}
{% block mechanic_code %}
<p>CODE</p>
{% endblock %}

{% block mechanic2_title %}
<h1>BOOTSTRAP</h1>
{% endblock %}
{% block mechanic2_info %}
<p>the framework that makes everything you see look neat</p>
{% endblock %}
{% block mechanic2_code %}
<p>CODE</p>
{% endblock %}

{% block mechanic3 %}
{% endblock %}

{% block mechanic4 %}
{% endblock %}

{% block mechanic5 %}
{% endblock %}