{% extends 'base.html' %}

{% block head %}
<title>PROJECT</title>
{% endblock %}

{% block body_header %}
<header class="page-project gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                {% block project_img %}
                <img src="static/art/img/smallerPrintFromGame.png">
                {% endblock %}
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body_content %}
<div class="mw-100 text-center projectIntro">
    <div class="row">
        <div class="col">
            <h1>
                {% block project_title %}
                {% endblock %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">
                {% block project_info %}
                {% endblock %}
            </p>
        </div>
    </div>
</div>

<!--a segment with a mechanic example with gif, design philosophy and code-->
<div class="container">
    <div class="col rounded projectMechanic">
        {% block mechanic_title %}
            <h1>mechanic name</h1>
        {% endblock %}
        {% block mechanic_info %}
            <p>info about mechanic</p>
        {% endblock %}
        {% block body_code %}
            <p>CODE</p>
        {% endblock %}
    </div>
</div>
{% endblock %}