{% extends 'base.html' %}

{% block head %}
<title>PROJECT</title>
{% endblock %}

{% block body_header %}
<header class="page-project" div style="background-image: url('static/art/img/bg5.png');">
    <div class="container pt-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8">
                {% block project_img %}
                <img src="static/art/img/smallerPrintFromGame.png" class="img-fluid projectIMG">
                {% endblock %}
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!--THE PROJECT TITLE ETC-->
{% block body_content %}
<div class="mw-100 text-center projectIntro">
    <div class="row">
        <div class="col">
            <h1>
                {% block project_title %}
                {% endblock %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">
                {% block project_info %}
                {% endblock %}
            </p>
        </div>
    </div>
    <div class="col-md-12">
        {% block project_tech %}
            <ul class="mechList">
                <li>Modular</li>
                <li>Easy to use</li>
                <li>Cool</li>
            </ul>
        {% endblock %}
    </div>
    <hr class="mechLine">
    <div class="col-md-12">
        {% block project_repo %}
        {% endblock %}
    </div>
</div>

<!--a segment with a mechanic example with gif, design philosophy and code-->
<!--BLOCK1-->
{% block mechanic %}
<div class="container">
    <div class="col rounded projectMechanic">
        {% block mechanic_title %}
        <h1>mechanic name</h1>
        {% endblock %}
        <hr class="mechLine">
        {% block mechanic_info %}
        <p>info about mechanic</p>
        {% endblock %}
        <hr class="mechLine">

        <!--WRITE IMG LEFT VERTICAL HR MID AND ICONS AND TEXT RIGHT-->
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="static/art/img/smallerPrintFromGame.png" class="img-fluid projectIMG">
            </div>
            <div class="col-md-6 mechListDiv">
                <ul class="mechList">
                    <li>Modular</li>
                    <li>Easy to use</li>
                    <li>Cool</li>
                  </ul> 
            </div>
        <hr class="mechLine">
        </div>

        {% block infoAboutCode %}<p>TEXT ABOUT CURRENT SCRIPT</p>{% endblock %}
        <a class="btn btn-outline-dark btn-lg codeButton" data-toggle="collapse" href="#block1"
            role="button" aria-expanded="false" aria-controls="block1">{% block code_button %}CODE{% endblock %}</a>
        <div class="col codeSection">
            <div class="collapse multi-collapse" id="block1">
                <div class="card card-body">
                    {% block mechanic_code %}
                    <p>CODE</p>
                    {% endblock %}
                </div>
            </div>
        </div>
        <hr class="mechLine">
        {% block mechanic_codeEXTRA %}
        {% endblock %}
    </div>
</div>
{% endblock %}

<!--BLOCK2-->
{% block mechanic2 %}
<div class="container">
    <div class="col rounded projectMechanic">
        {% block mechanic2_title %}
        <h1>mechanic name</h1>
        {% endblock %}
        <hr class="mechLine">
        {% block mechanic2_info %}
        <p>info about mechanic</p>
        {% endblock %}
        <hr class="mechLine">

        <!--WRITE IMG LEFT VERTICAL HR MID AND ICONS AND TEXT RIGHT-->
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="static/art/img/smallerPrintFromGame.png" class="img-fluid projectIMG">
            </div>
            <div class="col-md-6 mechListDiv">
                <ul class="mechList">
                    <li>Modular</li>
                    <li>Easy to use</li>
                    <li>Cool</li>
                  </ul> 
            </div>
        <hr class="mechLine">
        </div>

        {% block infoAboutCode2 %}<p>TEXT ABOUT CURRENT SCRIPT</p>{% endblock %}
        <a class="btn btn-outline-dark btn-lg codeButton" data-toggle="collapse" href="#block2"
            role="button" aria-expanded="false" aria-controls="block2">{% block code_button2 %}CODE{% endblock %}</a>
        <div class="col codeSection">
            <div class="collapse multi-collapse" id="block2">
                <div class="card card-body">
                    {% block mechanic2_code %}
                    <p>CODE</p>
                    {% endblock %}
                </div>
            </div>
        </div>
        <hr class="mechLine">
        {% block mechanic_codeEXTRA2 %}
        {% endblock %}
    </div>
</div>
{% endblock %}

<!--BLOCK3-->
{% block mechanic3 %}
<div class="container">
    <div class="col rounded projectMechanic">
        {% block mechanic3_title %}
        <h1>mechanic name</h1>
        {% endblock %}
        <hr class="mechLine">
        {% block mechanic3_info %}
        <p>info about mechanic</p>
        {% endblock %}
        <hr class="mechLine">

        <!--WRITE IMG LEFT VERTICAL HR MID AND ICONS AND TEXT RIGHT-->
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="static/art/img/smallerPrintFromGame.png" class="img-fluid projectIMG">
            </div>
            <div class="col-md-6 mechListDiv">
                <ul class="mechList">
                    <li>Modular</li>
                    <li>Easy to use</li>
                    <li>Cool</li>
                  </ul> 
            </div>
        <hr class="mechLine">
        </div>

        {% block infoAboutCode3 %}<p>TEXT ABOUT CURRENT SCRIPT</p>{% endblock %}
        <a class="btn btn-outline-dark btn-lg codeButton" data-toggle="collapse" href="#block3"
            role="button" aria-expanded="false" aria-controls="block3">CODE</a>
        <div class="col codeSection">
            <div class="collapse multi-collapse" id="block1">
                <div class="card card-body">
                    {% block mechanic3_code %}
                    <p>CODE</p>
                    {% endblock %}
                </div>
            </div>
        </div>
        <hr class="mechLine">
        {% block mechanic_codeEXTRA3 %}
        {% endblock %}
    </div>
</div>
{% endblock %}

<!--BLOCK4-->
{% block mechanic4 %}
<div class="container">
    <div class="col rounded projectMechanic">
        {% block mechanic4_title %}
        <h1>mechanic name</h1>
        {% endblock %}
        <hr class="mechLine">
        {% block mechanic4_info %}
        <p>info about mechanic</p>
        {% endblock %}
        <hr class="mechLine">

        <!--WRITE IMG LEFT VERTICAL HR MID AND ICONS AND TEXT RIGHT-->
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="static/art/img/smallerPrintFromGame.png" class="img-fluid projectIMG">
            </div>
            <div class="col-md-6 mechListDiv">
                <ul class="mechList">
                    <li>Modular</li>
                    <li>Easy to use</li>
                    <li>Cool</li>
                  </ul> 
            </div>
        <hr class="mechLine">
        </div>

        {% block infoAboutCode4 %}<p>TEXT ABOUT CURRENT SCRIPT</p>{% endblock %}
        <a class="btn btn-outline-dark btn-lg codeButton" data-toggle="collapse" href="#block4"
            role="button" aria-expanded="false" aria-controls="block4">CODE</a>
        <div class="col codeSection">
            <div class="collapse multi-collapse" id="block1">
                <div class="card card-body">
                    {% block mechanic4_code %}
                    <p>CODE</p>
                    {% endblock %}
                </div>
            </div>
        </div>
        <hr class="mechLine">
        {% block mechanic_codeEXTRA4 %}
        {% endblock %}
    </div>
</div>
{% endblock %}

<!--BLOCK5-->
{% block mechanic5 %}
<div class="container">
    <div class="col rounded projectMechanic">
        {% block mechanic5_title %}
        <h1>mechanic name</h1>
        {% endblock %}
        <hr class="mechLine">
        {% block mechanic5_info %}
        <p>info about mechanic</p>
        {% endblock %}
        <hr class="mechLine">

        <!--WRITE IMG LEFT VERTICAL HR MID AND ICONS AND TEXT RIGHT-->
        <div class="row pt-4">
            <div class="col-md-6">
                <img src="static/art/img/smallerPrintFromGame.png" class="img-fluid projectIMG">
            </div>
            <div class="col-md-6 mechListDiv">
                <ul class="mechList">
                    <li>Modular</li>
                    <li>Easy to use</li>
                    <li>Cool</li>
                  </ul> 
            </div>
        <hr class="mechLine">
        </div>

        {% block infoAboutCode5 %}<p>TEXT ABOUT CURRENT SCRIPT</p>{% endblock %}
        <a class="btn btn-outline-dark btn-lg codeButton" data-toggle="collapse" href="#block5"
            role="button" aria-expanded="false" aria-controls="block5">CODE</a>
        <div class="col codeSection">
            <div class="collapse multi-collapse" id="block1">
                <div class="card card-body">
                    {% block mechanic5_code %}
                    <p>CODE</p>
                    {% endblock %}
                </div>
            </div>
        </div>
        <hr class="mechLine">
        {% block mechanic_codeEXTRA5 %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% endblock %}