{% extends 'info.html' %}

{% block head %}
<title>RESUME</title>
{% endblock %}

{% block info_body_content %}
<br>
<p class="lead">This is my resume This is my resume This is my resume This is my resume This is my resume This is my resume 
    This is my resume This is my resume This is my resume This is my resume This is my resume This is my resume 
    This is my resume This is my resume This is my resume This is my resume This is my resume This is my resume 
    This is my resume This is my resume This is my resume This is my resume This is my resume This is my resume 
    This is my resume This is my resume This is my resume This is my resume This is my resume This is my resume 
</p>
{% endblock %}